<%- include('partials/header') -%>

    <h1>About</h1>
    <p>Hi! This is Chiragkumar Gohil. As part of my learning assignment, I built this website. You can post your thoughts or experiences on this page. Post something useful.</p>
    <p><span>Programming Languages / Technologies Used</span>: HTML, CSS, BootStrap, NodeJS, ExpressJS, EJS, MongoDB</p>
    <p>Note: You need to send an <a href="mailto:chiragkumargohil@outlook.com">email</a> to change or delete the post.</p>

<%- include('partials/footer') -%>