<%- include('partials/header') -%>

    <h1>About</h1>
    <p>Hi! This is Chiragkumar Gohil. As part of my learning assignment, I built this website. You can post your thoughts or experiences or secrets on this page. Post something useful.</p>
    <p><span>Programming Languages / Technologies Used</span>: HTML, CSS, BootStrap, NodeJS, ExpressJS, EJS, MongoDB</p>
    <h5>Note:</h5>
    <p>The authentication, deletion, and updating functionality are not utilized in the web application to ensure secrecy. So, you need to send an <a href="mailto:chiragkumargohil@outlook.com" class="read-more" style="font-weight: bold;">email</a> to change or delete the post.</p>

<%- include('partials/footer') -%>