<%- include('partials/header') -%>

    <h1>Contact</h1>
    <p>Chiragkumar Gohil here. I am an enthusiastic self-taught programmer. You can reach me through email. Much obliged!</p>
    <a href="mailto:chiragkumargohil@outlook.com" class="btn">Email <i class="fa-solid fa-envelope"></i></a>

<%- include('partials/footer') -%>