<%- include('partials/header') -%>

    <h1>Contact</h1>
    <p>Namaste! Chiragkumar Gohil here. I am an enthusiastic self-taught programmer. I'm skilled with Python and JavaScript, and I am learning new tools, technologies and frameworks, step by step.</p>
    <p>You can reach me through my email or social media handles. Much obliged!</p>
    <div>
        <a href="mailto:chiragkumargohil@outlook.com" class="btn">Email <i class="fa-solid fa-envelope"></i></a>
        <a href="" class="btn">GitHub <i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="" class="btn">LinkedIn <i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>

<%- include('partials/footer') -%>