:root {
    --c1: #EC4646;
    --c2: #F6F6F6;
}

body {
    font-family: 'Abyssinica SIL', serif;
}

.navbar {
    background-color: var(--c2);
    margin-bottom: 24px;
}

.navbar-nav li a:hover {
    color: var(--c1) !important;
}

.post-content {
    white-space: pre-line;
    text-align: justify;
}

.username {
    font-style: italic;
    color: gray;
}

p span {
    color: var(--c1);
}

.navbar-brand {
    color: var(--c1);
    font-size: 1.5rem;
    font-weight: bold;
}

.read-more,
.read-more:hover {
    color: var(--c1);
}

.compose {
    bottom: 24px;
    right: 24px;
    position: fixed;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c1);
    border-radius: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    transition: 0.7s;
}

.compose:hover {
    color: #fff;
    transform: scale(1.1);
}

#postContent {
    height: 120px;
}

.btn {
    background-color: var(--c1);
    border-radius: 30px;
    border: none;
    color: #fff;
    padding-block: 4px;
}

.btn:hover {
    color: var(--c1);
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: rgba(93, 27, 27, .25);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(93, 27, 27, .25);
}